# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# So only I could push releases
settings.xml

# Misc Planning files
Roadmap.md
modules
