<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <logger name="io.netty" level="INFO"/>
    <logger name="io.lettuce" level="INFO"/>
<!--    <logger name="reactor" level="INFO"/>-->
<!--    <logger name="reactor.netty" level="DEBUG"/>-->
    <logger name="reactor.retry" level="INFO"/>

    <logger name="discord4j.core" level="DEBUG"/>
    <logger name="discord4j.gateway.protocol.sender" level="TRACE"/>
    <logger name="discord4j.gateway.protocol.receiver" level="TRACE"/>
    <logger name="discord4j.voice.protocol.sender" level="TRACE"/>
    <logger name="discord4j.voice.protocol.receiver" level="TRACE"/>
<!--    <logger name="discord4j.voice.protocol.udp.sender" level="TRACE"/>-->
    <logger name="discord4j.voice.protocol.udp.receiver" level="TRACE"/>
    <logger name="discord4j.rest.http.client.DiscordWebClient" level="INFO"/>
    <logger name="discord4j.rest.request" level="DEBUG"/>
    <!--<logger name="discord4j.rest.http" level="TRACE"/>-->
<!--    <logger name="discord4j.core.event.dispatch" level="TRACE"/>-->

    <turboFilter class="discord4j.core.logback.GatewayEventFilter">
        <Logger>discord4j.gateway.protocol.receiver</Logger>
        <Include>"t":"READY"</Include>
        <Include>"op":9</Include>
        <Include>"op":4</Include>
        <Include>"t":"VOICE_SERVER_UPDATE"</Include>
    </turboFilter>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-20.20thread %5p %-36.36logger{36} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-20.20thread %5p %-36.36logger{36} - %m%n</pattern>
        </encoder>
        <prudent>true</prudent>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
