<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~     This file is part of Discord4J.
  ~
  ~     Discord4J is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Lesser General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     Discord4J is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Lesser General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Lesser General Public License
  ~     along with Discord4J.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration scan="true">
	<!--<logger name="org.eclipse.jetty" level="INFO"/>-->
	<logger name="sx.blah.discord.Discord4J" level="TRACE"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>

